@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

@tailwind utilities;

@keyframes runningText {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(-100%);
  }
}

@layer components {
  .running-text {
    animation: runningText 20s linear infinite;
  }
}
